html {
    font-size:90%;
    @media #{$medium-up} {
        font-size:100%;
    }
}

html,
body {
    -webkit-overflow-scrolling:touch;
}

body > svg {
    display:none;
}

figure {
    margin:0 0 1rem;
}

video {
    width:100%;
    height:auto;
}

a, button { border: 0;  outline: 0; }


svg {
  max-height:100%;
  max-width:100%;
}
// helpers


.lowercase {
    text-transform: lowercase;
}
