.entry {
    @include grid-column(
        $columns:12,
        $collapse:true
        );

    .cover {
        margin-bottom:2rem;
        @media #{$medium-up} {
            margin-bottom:3rem;
        }
    }    
}

.cover {
      margin:0;
      @media #{$large-up} {
        height:80vh;
        position:relative;
        overflow: hidden;
        display:flex;
        justify-content:center;
      }
}

.cover--top {
    @media #{$large-up} {
        align-items:flex-start;
    }
}
.cover--bottom {
    @media #{$large-up} {
        align-items:flex-end;
    }
}
.cover--center {
    @media #{$large-up} {
        align-items:center;
    }
}

.entry__cover-img {
    @include center-el();    
}


.entry__header {
    margin: 0 0 1rem;
}



.entry__excerpt {
    text-transform:uppercase;
    margin-top:2rem;
    font-size:rem-calc(23);
    line-height:1.2;
}

.entry__row {
    @include grid-column(
            $columns:12,
            $center:true
        );
    max-width:44rem;

    @media #{$medium-up} {
        padding-left:2rem;
        padding-right:2rem;
    }
}


.entry__content {
    p {
        @extend .entry__row;
        @extend .justify;
        @media #{$medium-up} {
            padding-left:2rem;
            padding-right:2rem;
        }
    }

    @include headings() {
        @extend .entry__row;
        @media #{$medium-up} {
            padding-left:2rem;
            padding-right:2rem;
        }
    }

    img {
        width:100%;
        height:auto;
        margin: 0 0 1rem;
    }
    
    .alignnone {
        margin: 1rem 0;
    }

    .aligncenter {
        @extend .entry__row;
        margin-bottom: 1rem;
        @include center-el();
    }

    .alignleft {
        @include grid-column(
            $columns:12,
            $collapse:true
        );

        @media #{$medium-up} {
            @include grid-column(
                $columns:6,
                $collapse:true
            );
            margin-right:1rem;
        }
    }

    .alignright {
        @extend .alignleft; 
        @media #{$medium-up} {
            @include grid-column(
                $columns:6,
                $collapse:true,
                $float:right
            );
            margin-left:1rem;
        }
    }
}


.justify {
     text-align:justify;
        
     -ms-word-break: break-all;
         word-break: break-all;

         // Non standard for webkit
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
} 


.index-card {
    margin:1rem 0;
    position:relative;
    @include grid-column(
        $columns:12,
        $collapse:true
    );
    @media #{$medium-up} {
        margin:0;
    }
}

.index-card__header {
    @media #{$medium-up} {
        @include position(absolute, top 1rem left 1rem);
        z-index:100;
    }
    @media #{$large-up} {
        top:3rem;
        left:3rem;
    }
}
