

.justify {
     text-align:justify;
        
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

.title {
    text-transform:uppercase;
    line-height:1;
    span {
        font-weight:300;
        display:block;
        // &:before {
        //     content: "\A";
        //     white-space: pre;
        // }
    }
}

.flex-video.formato-pazzo {
    padding-bottom:38% !important;
}

.extraCredits {
    p {
        line-height:1.4;
        font-size:rem-calc(14);
    }
}

// bg's

.bg-white {
    overflow: hidden;
    background:$white;
    color:$black;
}

// shame

.video-container {
    p {
        clear: both;
        float: none;
        font-size: 0.75rem;
        margin: 0 auto;
        max-width: 62rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
        &:after {
            border-bottom: 1px dotted #707070;
            content: "";
            display: block;
            padding-top: 0.75rem;
            width: 100%;
        }
    }

    &.video-container--gallery {
        max-width:63.1rem;
        clear:both;
    }
}

.video-container--isCaption {
    margin-bottom:1.25rem;
    p {
        margin-bottom:0;
    }
}