

.justify {
     text-align:justify;
        
     -ms-word-break: break-all;
         word-break: break-all;

         // Non standard for webkit
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

.title {
    text-transform:uppercase;
    line-height:1;
    span {
        font-weight:300;
        &:before {
            content: "\A";
            white-space: pre;
        }
    }
}


// bg's

.bg-white {
    overflow: hidden;
    background:$white;
    color:$black;
}