.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-pesci {
	/*fill: #000000;*/
}
.icon-acquario {
	/*fill: #000000;*/
}
.icon-capricorno {
	/*fill: #000000;*/
}
.icon-sagittario {
	/*fill: #000000;*/
}
.icon-scorpione {
	/*fill: #000000;*/
}
.icon-bilancia {
	/*fill: #000000;*/
}
.icon-vergine {
	/*fill: #000000;*/
}
.icon-leone {
	/*fill: #000000;*/
}
.icon-cancro {
	/*fill: #000000;*/
}
.icon-gemelli {
	/*fill: #000000;*/
}
.icon-toro {
	/*fill: #000000;*/
}
.icon-ariete {
	/*fill: #000000;*/
}
.icon-dc {
	/*fill: #000000;*/
}
.icon-ac {
	/*fill: #000000;*/
}
.icon-ic {
	/*fill: #000000;*/
}
.icon-mc {
	/*fill: #000000;*/
}
.icon-plutone {
	/*fill: #000000;*/
}
.icon-nettuno {
	/*fill: #000000;*/
}
.icon-urano {
	/*fill: #000000;*/
}
.icon-saturno {
	/*fill: #000000;*/
}
.icon-giove {
	/*fill: #000000;*/
}
.icon-marte {
	/*fill: #000000;*/
}
.icon-venere {
	/*fill: #000000;*/
}
.icon-mercurio {
	/*fill: #000000;*/
}
.icon-luna {
	/*fill: #000000;*/
}
.icon-sole {
	/*fill: #000000;*/
}
