.issue__container {
    height:100%;
    min-height:100vh;
}

.entry--issue {
    @media #{$large-up} {
        @include grid-column(
            $columns:8,
            $collapse:true
        );
    }

    @media #{$xlarge-up}{
        @include grid-column(
            $columns:9,
            $collapse:true
        );
    }
}

.issue {
    @include grid-column(
        $columns:12,
        $float:none,
        $center:true,
        $collapse:true
    );

    overflow-y:auto;

    @media #{$medium-up}{
      .next--menu-item {
        height:auto;
        max-height:rem-calc(600);
      }
    }

    @media #{$large-up}{
        @include grid-column(
            $columns:4,
            $float:right,
            $collapse:true
        );
        @include position(absolute, top 0 right 0);
        height:100%;
        overflow-y:auto;
    }

    @media #{$xlarge-up}{
        @include grid-column(
            $columns:3,
            $float:right,
            $collapse:true
        );
    }
}

.issue__inner {
    padding:0 0 1rem;
}

.issue__video {
    position:relative;
    z-index:20;
}

.issue__header {
    margin-top:1.75rem;
}

.issue__title {
    margin-bottom:1.125rem;
}
