html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-toggle {
    @include position(fixed, top 0.5rem right 0.5rem);
    z-index:9999;
    padding:0.25rem;

    width:rem-calc(44);
    height:rem-calc(44);

    cursor:pointer;
    
    border:medium none;
    background:$black;
    color:$white; 

    .si-icon {
        display: block;
        padding:0.25rem;
        width: 2.75rem;
        height: 2.75rem;
        @include position(absolute, top 0 left 0);
    }  
}

.st-container {
    background:$black;
}
.st-content {
    overflow-y: auto;
    background: $white;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    transition: transform 0.5s;
}

.st-pusher::after {
    //position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index:100;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 270px;
    height: 100%;
    background: $white;
    transition: all 0.5s;
    overflow:hidden;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


/* Individual effects */


/* Effect 5: Reverse slide out */
.st-menu-open .st-pusher {
    transform: translate3d(-270px, 0, 0);
}

.st-menu {
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}

.st-menu-open .st-menu {
    overflow-y:auto;
    visibility: visible;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    @media #{$large-up} {
        //padding-left: 270px;
    }
}


