.cover {
    margin:0;
    position:relative;
    display:flex;
    justify-content:center;
    overflow: hidden;

    @media #{$landscape} and (max-width:1024px){
        max-height:rem-calc(500);
        overflow: hidden;
    }

    @media all and (min-width:1025px) {
        max-height:80vh;
    }

    @media #{$xlarge-up} and (min-height:1080px) {
        max-height:1000vh;
    }
}

.cover--top {
    align-items:flex-start;
}
.cover--bottom {
    align-items:flex-end;
}
.cover--center {
    align-items:center;
}

.entry {
    .cover {
        @media all and (min-width:1025px) {
            height:80vh;
        }
    }
}