.cover {
    margin:0;
    position:relative;
    display:flex;
    justify-content:center;

    @media #{$landscape} {
        max-height:rem-calc(500);
        overflow: hidden;
    }

    @media #{$xlarge-up} {
        max-height:80vh;
    }

    @media #{$xlarge-up} and (min-height:1080px) {
        max-height:1000vh;
    }

}

.cover--top {
    align-items:flex-start;
}
.cover--bottom {
    align-items:flex-end;
}
.cover--center {
    align-items:center;
}