.next {
    margin-top:2rem;
    min-height:rem-calc(270);
    position:relative;
    @include grid-column(
            $columns:12,
            $collapse:true
        );

    &:hover,
    &:active,
    &:focus {
        .next__bg {
            background:rgba(0, 0, 0, 0);
        }
    }
}

.next__header {
    @include position(absolute, top 50% left 50%);
    width: 80%;
    transform: translateX(-50%) translateY(-50%);
    z-index:10;
}

.next__title {
    color:$white;
    font-size:rem-calc(18);
    word-break: break-word;
    max-width:27rem;

    @media #{$medium-up} {
        font-size:rem-calc(27);
    }

    @media #{$large-up} {
        font-size:2.75rem;
    }
}

.next__message {
    color:$white;
    border-bottom:1px solid $grey;
}

.next__link {
    display:block;
    width:100%;
}

.next__bg {
    @include position(absolute, top 0 left 0 right 0 bottom 0);
    transition: background 300ms ease-in-out 0ms;
    background:rgba(0, 0, 0, 0.6);
}


// modifiers

.next--menu-item {
    margin:0;
    min-height:1px;
    height:12.5rem;
    overflow: hidden;

    .next__title {
        font-size:rem-calc(18);

        @media #{$large-up} {
            font-size:rem-calc(23);
        }
    }
}